# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked_*.ds
unlinked_*.dll
unlinked_*.so
unlinked_*.dylib
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
web/firebase-messaging-sw.js
version.json